<mat-card>
  <mat-card-content>
    <h1>Agregar nueva categoría</h1>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)="formSubmit()">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Titulo</mat-label>
                <input requiredautofocus type="text" name="titulo" matInput placeholder="Ingrese el título de la categoría"
                [(ngModel)]="categoria.titulo">
              </mat-form-field><br>
              <mat-form-field  class="full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea name="descripcion" matInput placeholder="Ingrese la descripción de la categoría" rows="10"
                [(ngModel)]="categoria.descripcion">
                </textarea>
              </mat-form-field>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
