<mat-card>
  <mat-card-content>
    <h1>Agregar nuevo examen</h1>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit) = "guardarCuestionario()">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Titulo</mat-label>
                <input
                [(ngModel)]="examenData.titulo"
                required
                type="text"
                name="titulo"
                matInput placeholder="Ingrese el título del examen">
              </mat-form-field>

              <mat-form-field  class="full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea
                [(ngModel)]="examenData.descripcion"
                type="text"
                name="descripcion"
                matInput rows="8"
                placeholder="Ingrese la descripción del examen" >
                </textarea>
              </mat-form-field>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Puntos maximos</mat-label>
                    <input
                    [(ngModel)]="examenData.puntosMaximos"
                    type="text"
                    name="puntosMaximos"
                    matInput
                    placeholder="Ingrese la cantidad de puntos">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Número de preguntas</mat-label>
                    <input
                    [(ngModel)]="examenData.numeroDePreguntas"
                    type="text"
                    name="cantidadPreguntas"
                    matInput
                    placeholder="Ingrese el número de preguntas">
                  </mat-form-field>
                </div>
              </div>

              <mat-slide-toggle
              class="full-width mt20"
              name="activo"
              color="primary"
              [(ngModel)]="examenData.activo">
                Estado de publicación
              </mat-slide-toggle>

              <mat-form-field class="full-width mt20">
                <mat-label>Categorias</mat-label>
                <mat-select name="categoria" [(ngModel)] = "examenData.categoria.categoriaId">
                  <mat-option *ngFor = "let c of categorias" [value] = "c.categoriaId">
                      {{ c.titulo }}
                    </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>

          </div>
        </div>
  </mat-card-content>
</mat-card>

