<mat-toolbar color="primary" class="container">
    <a [routerLink]="'/'"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_books</mat-icon>
    </a>
    <span>PORTAL DE EXAMENES</span>
    <span class="example-spacer"></span>
    <a
      *ngIf = "!isLoggedIn"
      [routerLink] = "'/login'" mat-button class="example-icon" aria-label="Example icon-button with heart">
      Login
   </a>
    <a
      *ngIf = "!isLoggedIn"
      [routerLink] = "'/signup'" mat-button class="example-icon mr40 ml40" aria-label="Example icon-button with heart">
      Signup
    </a>
    <a
      *ngIf = "isLoggedIn"
      (click) = "logout()"  mat-button class="example-icon mr40" aria-label="Example icon-button with heart">
      Logout
    </a>
    <button
      *ngIf = "isLoggedIn  && user"
      mat-button
      class = "example-icon mr10" aria-label="Example icon-button with heart">
      {{ login.getUser().username }}
    </button>
  </mat-toolbar>
