<mat-card  style="margin-left: 10px;">
    <div class="text-center mt20">
      <h1>Detalles del perfil</h1>
    </div>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt="" class="profile-image">

            <h1 class="mt20">{{ login.getUser().username }}</h1>
          </div>

          <div class="row">
            <div class="col-md-10 offset-md-1">
              <table class="table text-center">
                <th>Información del perfil</th>
                <tr>
                  <td>Nombre de usuario</td>
                  <td>{{ user.nombre }} {{ user.apellido }}</td>
                </tr>
                <tr>
                  <td>Telefono</td>
                  <td>{{ user.telefono }}</td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <td>Rol</td>
                  <td>{{ login.getUserRole() }}</td>
                </tr>
                <tr>
                  <td>Estado</td>
                  <td>
                    {{ user.enabled ? "Activo" : "Inactivo"}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center2 mt20 full-width" >
          <button mat-raised-button color="primary">Actualizar</button>
          <button mat-raised-button class="ml20" color="accent">Compartir</button>
      </div>

    </mat-card-content>
</mat-card>


