<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/cerrajero.png" alt="" width="100" height="100">
          </div>
          <h1 class="text-center">LOGIN</h1>
          <form (ngSubmit)="formSubmit()">
            <div class="container text-center">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="loginData.username" name="username" required type="text" matInput placeholder="Ingrese su username...">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password </mat-label>
                <input [(ngModel)]="loginData.password" name="password" required type="password" matInput placeholder="Ingrese su contraseña...">
              </mat-form-field>
            </div>

            <br><br>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
            <br>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
