<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <mat-card class="mt20">
              <mat-card-header>
                  <mat-card-title>
                    Lea las indtrucciones de esta página cuidadosamente
                  </mat-card-title>
                  <mat-card-subtitle>
                    Un paso más para continuar
                  </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="ml30">
                  <h1>{{ examen.titulo }}</h1>
                  <p>{{ examen.descripcion }}</p>
                  <mat-divider></mat-divider>
                  <br>
                  <h1>Instrucciones importantes!</h1>

                  <ul>
                    <li>Este cuestionario es solo con fines de práctica</li>
                    <li>Tienes que enviar el cuestionario en <b>{{ examen.numeroDePreguntas * 2 }}</b> minutos</li>
                    <li>Número de intentos ilimitado</li>
                    <li>Hay <b>{{ examen.puntosMaximos/examen.numeroDePreguntas }}</b> puntos por pregunta</li>
                  </ul>
                  <mat-divider></mat-divider>
                  <br>
                  <h1>Intentos de la prueba</h1>
                  <ul>
                    <li>Presione el boton <b>empezar</b> para iniciar el examen</li>
                    <li>El tiempo comenzará en el momento en que haga click en el boton <b>empezar</b></li>
                    <li>No puede reanudar este cuestionario si se interrumpe por algún motivo</li>
                    <li>Desplácese hacia abajo para pasar a la siguiente pregunta</li>
                    <li>Haga click en el boton <b>enviar</b> al finalizar el cuestionario</li>
                    <li>El informe de la prueba se genera automaticamente en forma de copia de PDF</li>
                  </ul>
              </mat-card-content>
              <div class="text-center mt10 mb10">
                <button (click) = "empezarExamen()" mat-raised-button color="primary">
                  Comenzar prueba
                </button>
              </div>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
