<div class="bootstrap-wrapper mt20 text-center">
<mat-card>
    <mat-card-content>
      <h1 >Preguntas de {{titulo}} </h1>
      <button mat-raised-button
        color="primary"
        [routerLink]="'/admin/add-pregunta/examen/'+examenId+'/'+titulo">
        Agregar pregunta
      </button>
    </mat-card-content>

</mat-card>
</div>

<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <mat-card *ngFor="let p of preguntas; let i = index" class="mt20">
        <mat-card-content >
            <p>
              <b> {{i+1}} )</b>
              <span class="ml20" [innerHTML]="p.contenido + p.preguntaId"></span>
            </p>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6"><p><b>1)</b> {{p.opcion1}} </p></div>
                <div class="col-md-6"><p><b>2)</b> {{p.opcion2}} </p></div>
                <div class="col-md-6"><p><b>3)</b> {{p.opcion3}} </p></div>
                <div class="col-md-6"><p><b>4)</b> {{p.opcion4}} </p></div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20">
              <b>Respuesta correcata: {{p.respuesta}} </b>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn"  (click) = "eliminarPregunta(p.preguntaId)">Eliminar pregunta</button>
            <button mat-raised-button color="primary" class="ml20" [routerLink]="'/admin/actualizar-pregunta/examen/'+examenId+'/pregunta/'+p.preguntaId+'/'+titulo">Actualizar pregunta</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>
</div>
